{% extends "base.html" %}
{% load urlify %}

{% block head_title %}{{ instance.title }}|StepanDyubin{% endblock head_title %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">

<div class="post-item">
<h1>{{ instance.title }}<small> {% if instance.draft %}<span style="color:red;">DRAFT</span>{% endif %}{{ instance.timestamp }}</small></h1>

	{% if instance.image %}
	<img src="{{ instance.image.url }}" class="img-responsive" alt="" >
	{% endif %}

	{{ instance.get_markdown }}<br>   <!-- |safe = safe html  -->

	<p>{% if instance.user.get_full_name %}Author: {{ instance.user.get_full_name }} {% endif %}
	{{ instance.updated }}</p> <br>
	 <br>
</div>

<div>
  <p class="lead">Comments</p>
  <hr>
  {% for comment in comments %}
    <p>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago</p>
	{{ comment.comment_content }} <hr>
  {% endfor %}
</div>


</div>
{% endblock content %}